openapi: 3.1.0
info:
  title: fal Model APIs Apps Secrets API
  description: 'The fal Model APIs are a unified queue-based REST surface for invoking 1,000+ production generative image, video, audio, and multimodal models hosted on fal''s GPU inference infrastructure. Clients submit a job to `https://queue.fal.run/{model-owner}/{model-name}`, then either poll for status and result, subscribe via webhook, or stream incremental progress.

    '
  version: v1
  contact:
    name: fal Support
    url: https://fal.ai/support
  license:
    name: fal Terms of Service
    url: https://fal.ai/legal/terms-of-service
servers:
- url: https://queue.fal.run
  description: Production queue endpoint
security:
- FalKeyAuth: []
tags:
- name: Secrets
  description: Manage per-org secrets injected into Serverless runs.
paths:
  /serverless/secrets:
    get:
      summary: List Serverless Secrets
      description: Return secret names available to all Serverless apps in the calling org. Values are never returned.
      operationId: listSecrets
      tags:
      - Secrets
      responses:
        '200':
          description: Secret names.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Set Serverless Secret
      description: Create or replace a named secret injected as an env var into Serverless runs.
      operationId: setSecret
      tags:
      - Secrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretWrite'
      responses:
        '200':
          description: Secret saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
    SecretWrite:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
        value:
          type: string
          format: password
    Secret:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        created_at:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    FalKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass the fal API key as `Authorization: Key $FAL_KEY`. Keys are issued from the fal dashboard at https://fal.ai/dashboard/keys.

        '
