openapi: 3.1.0
info:
  title: fal Model APIs Apps Files API
  description: 'The fal Model APIs are a unified queue-based REST surface for invoking 1,000+ production generative image, video, audio, and multimodal models hosted on fal''s GPU inference infrastructure. Clients submit a job to `https://queue.fal.run/{model-owner}/{model-name}`, then either poll for status and result, subscribe via webhook, or stream incremental progress.

    '
  version: v1
  contact:
    name: fal Support
    url: https://fal.ai/support
  license:
    name: fal Terms of Service
    url: https://fal.ai/legal/terms-of-service
servers:
- url: https://queue.fal.run
  description: Production queue endpoint
security:
- FalKeyAuth: []
tags:
- name: Files
  description: Manage files on persistent Serverless `/data` volumes.
paths:
  /serverless/files:
    get:
      summary: List Serverless Files
      description: List files on the persistent `/data` volume mounted into Serverless runs.
      operationId: listFiles
      tags:
      - Files
      parameters:
      - name: path
        in: query
        required: false
        description: Subdirectory path under `/data` to list.
        schema:
          type: string
      responses:
        '200':
          description: File listing.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileEntry'
components:
  schemas:
    FileEntry:
      type: object
      properties:
        path:
          type: string
        size:
          type: integer
        modified_at:
          type: string
          format: date-time
  securitySchemes:
    FalKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass the fal API key as `Authorization: Key $FAL_KEY`. Keys are issued from the fal dashboard at https://fal.ai/dashboard/keys.

        '
