openapi: 3.2.0
info:
  title: fal Serverless Platform Files API
  description: 'Platform control-plane endpoints for managing fal Serverless applications — custom GPU functions and apps deployed using `@fal.function`, `fal.App`, or bring-your-own containers. Covers app metadata, scaling, secrets, files, and execution analytics. This API backs the `fal` CLI (`fal apps list`, `fal secrets`, `fal deploy`).

    '
  version: v1
  contact:
    name: fal Support
    url: https://fal.ai/support
  license:
    name: fal Terms of Service
    url: https://fal.ai/legal/terms-of-service
servers:
- url: https://rest.alpha.fal.ai
  description: fal REST control-plane
security:
- FalKeyAuth: []
tags:
- name: Files
  description: Manage files on persistent Serverless `/data` volumes.
paths:
  /serverless/files:
    get:
      summary: List Serverless Files
      description: List files on the persistent `/data` volume mounted into Serverless runs.
      operationId: listFiles
      tags:
      - Files
      parameters:
      - name: path
        in: query
        required: false
        description: Subdirectory path under `/data` to list.
        schema:
          type: string
      responses:
        '200':
          description: File listing.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileEntry'
components:
  schemas:
    FileEntry:
      type: object
      properties:
        path:
          type: string
        size:
          type: integer
        modified_at:
          type: string
          format: date-time
  securitySchemes:
    FalKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass the fal API key as `Authorization: Key $FAL_KEY`.'
