openapi: 3.2.0
info:
  title: fal Serverless Platform Secrets API
  description: 'Platform control-plane endpoints for managing fal Serverless applications — custom GPU functions and apps deployed using `@fal.function`, `fal.App`, or bring-your-own containers. Covers app metadata, scaling, secrets, files, and execution analytics. This API backs the `fal` CLI (`fal apps list`, `fal secrets`, `fal deploy`).

    '
  version: v1
  contact:
    name: fal Support
    url: https://fal.ai/support
  license:
    name: fal Terms of Service
    url: https://fal.ai/legal/terms-of-service
servers:
- url: https://rest.alpha.fal.ai
  description: fal REST control-plane
security:
- FalKeyAuth: []
tags:
- name: Secrets
  description: Manage per-org secrets injected into Serverless runs.
paths:
  /serverless/secrets:
    get:
      summary: List Serverless Secrets
      description: Return secret names available to all Serverless apps in the calling org. Values are never returned.
      operationId: listSecrets
      tags:
      - Secrets
      responses:
        '200':
          description: Secret names.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Set Serverless Secret
      description: Create or replace a named secret injected as an env var into Serverless runs.
      operationId: setSecret
      tags:
      - Secrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretWrite'
      responses:
        '200':
          description: Secret saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Secret:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        created_at:
          type: string
          format: date-time
    SecretWrite:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
        value:
          type: string
          format: password
    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    FalKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass the fal API key as `Authorization: Key $FAL_KEY`.'
