openapi: 3.2.0
info:
  title: fal Serverless Platform Apps API
  description: 'Platform control-plane endpoints for managing fal Serverless applications — custom GPU functions and apps deployed using `@fal.function`, `fal.App`, or bring-your-own containers. Covers app metadata, scaling, secrets, files, and execution analytics. This API backs the `fal` CLI (`fal apps list`, `fal secrets`, `fal deploy`).

    '
  version: v1
  contact:
    name: fal Support
    url: https://fal.ai/support
  license:
    name: fal Terms of Service
    url: https://fal.ai/legal/terms-of-service
servers:
- url: https://rest.alpha.fal.ai
  description: fal REST control-plane
security:
- FalKeyAuth: []
tags:
- name: Apps
  description: List and inspect deployed Serverless apps.
paths:
  /serverless/apps:
    get:
      summary: List Serverless Apps
      description: Return every Serverless app deployed under the calling key's organization.
      operationId: listApps
      tags:
      - Apps
      responses:
        '200':
          description: Apps owned by the organization.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServerlessApp'
              examples:
                Apps:
                  $ref: '#/components/examples/AppsExample'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /serverless/apps/{app_id}:
    get:
      summary: Get Serverless App
      description: Retrieve metadata, endpoint URL, and current scaling parameters for an app.
      operationId: getApp
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessApp'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: App or resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
    ServerlessApp:
      type: object
      required:
      - id
      - name
      - endpoint
      properties:
        id:
          type: string
        name:
          type: string
        endpoint:
          type: string
          format: uri
          description: Invocation URL for the app.
        gpu:
          type: string
          description: GPU class (e.g. `H100`, `A100`).
        keep_alive:
          type: integer
          description: Seconds a warm worker is kept after the last request.
        min_concurrency:
          type: integer
        max_concurrency:
          type: integer
        public:
          type: boolean
  examples:
    AppsExample:
      summary: Two deployed apps
      value:
      - id: my-org/flux-finetune
        name: flux-finetune
        endpoint: https://fal.run/my-org/flux-finetune
        gpu: H100
        keep_alive: 60
        min_concurrency: 0
        max_concurrency: 8
        public: false
      - id: my-org/sdxl-lcm
        name: sdxl-lcm
        endpoint: https://fal.run/my-org/sdxl-lcm
        gpu: A100
        keep_alive: 120
        min_concurrency: 1
        max_concurrency: 16
        public: true
  parameters:
    AppId:
      name: app_id
      in: path
      required: true
      description: Serverless app identifier (e.g. `my-org/my-flux-finetune`).
      schema:
        type: string
  securitySchemes:
    FalKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pass the fal API key as `Authorization: Key $FAL_KEY`.'
